body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:darkred;
    text-align: center;
}

a {
    color: purple;
}

a:hover {
    color:#473eb8 ;
}

.assignment {
    display: flex;
    padding: 10px;
    background:#dbc8e6;
    margin: 10px;
}

.assignment img {
    height: 350px;
    padding:10px;
}